.form{
    height:"auto";
/* background-image: url("https://img.freepik.com/free-photo/gold-branch-foliage-beige-banner-background_53876-129666.jpg?w=2000"); */
border-radius: 10px;
background-image: url("https://storage.needpix.com/rsynced_images/aerial-3246120_1280.jpg");
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}